### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

![Kathryn GitHub concept Map](https://www.dropbox.com/s/7c2hq7klg2c1psv/GitHub_concept_map.JPG?dl=1)

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [245]:
matrix_example <- matrix(c(1,2,3,4,5,6) , nrow = 3, byrow = TRUE) # creating matrix
rownames(matrix_example) = c("row_1", "row_2", "row_3") # adding row names
colnames(matrix_example) = c("col_1", "col_2") # adding column names
matrix_example

      col_1 col_2
row_1 1     2
row_2 3     4
row_3 5     6

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [246]:
matrix_example <- matrix(c(1,2,3,4,5,6) , nrow = 3, byrow = TRUE) # creating matrix
rownames(matrix_example) = c("row_1", "row_2", "row_3") # adding row names
colnames(matrix_example) = c("col_1", "col_2") # adding column names
matrix_example

      col_1 col_2
row_1 1     2
row_2 3     4
row_3 5     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [247]:
data("airquality")
ordered_dec <- airquality[order(-airquality$Temp, -airquality$Solar.R), ] # sorts airquality data with Temp and Solar.R in decreasing order
head(ordered_dec, n = 15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
121 118   225      2.3 94   8     29
123  85   188      6.3 94   8     31
42   NA   259     10.9 93   6     11
127  91   189      4.6 93   9      4
126  73   183      2.8 93   9      3
70   97   272      5.7 92   7      9
69   97   267      6.3 92   7      8
43   NA   250      9.2 92   6     12
102  NA   222      8.6 92   8     10
125  78   197      5.1 92   9      2
75   NA   291     14.9 91   7     14
124  96   167      6.9 91   9      1
40   71   291     13.8 90   6      9

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [228]:
ordered_opposite <- airquality[order(-airquality$Temp, airquality$Solar.R), ] # sorts airquality data with Temp in decreasing order, Solar.R in increasing order
head(ordered_opposite, n = 15)

    Ozone Solar.R Wind Temp Month Day
120  76   203      9.7 97   8     28
122  84   237      6.3 96   8     30
123  85   188      6.3 94   8     31
121 118   225      2.3 94   8     29
126  73   183      2.8 93   9      3
127  91   189      4.6 93   9      4
42   NA   259     10.9 93   6     11
125  78   197      5.1 92   9      2
102  NA   222      8.6 92   8     10
43   NA   250      9.2 92   6     12
69   97   267      6.3 92   7      8
70   97   272      5.7 92   7      9
124  96   167      6.9 91   9      1
75   NA   291     14.9 91   7     14
101 110   207      8.0 90   8      9

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

In [248]:
airquality[which(airquality$Temp == 72),] # first way to select observations with a temp of 72
subset(airquality, airquality$Temp == 72) # second way to select only observations with temp 72

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [249]:
airquality_no_na <- airquality[complete.cases(airquality$Solar.R, airquality$Ozone), ] # removing NA from Solar.R and Ozone variables
colSums(is.na(airquality_no_na)) # checking that all NA were indeed removed 
nrow(airquality) - nrow(airquality_no_na) # 42 lines of data have been removed

  Ozone Solar.R    Wind    Temp   Month     Day
      0       0       0       0       0       0

[1] 42

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [251]:
data("airquality")
Solar.R.na <- airquality[(is.na(airquality$Solar.R)),] # selecting out rows with NA for Solar.R
Solar.R.na 
unique(Solar.R.na$Month) # determining that there are only NAs in Solar.R for the months of May and August so we will only find temp averages for months 5 and 8
Solar.R.na$Solar.R[Solar.R.na$Month == 5] <- mean(airquality$Temp[airquality$Month == 5]) # finding May temp avg and replacing NAs in Solar.R from May 
Solar.R.na$Solar.R[Solar.R.na$Month == 8] <- mean(airquality$Temp[airquality$Month == 8]) # finding Aug temp avg and replacing NAs in Solar.R from Aug 
Solar.R.na # returning NA Solar.R dataset with NA replaced with avg monthly temperatures!

   Ozone Solar.R Wind Temp Month Day
5  NA    NA      14.3 56   5      5
6  28    NA      14.9 66   5      6
11  7    NA       6.9 74   5     11
27 NA    NA       8.0 57   5     27
96 78    NA       6.9 86   8      4
97 35    NA       7.4 85   8      5
98 66    NA       4.6 87   8      6

[1] 5 8

   Ozone Solar.R  Wind Temp Month Day
5  NA    65.54839 14.3 56   5      5
6  28    65.54839 14.9 66   5      6
11  7    65.54839  6.9 74   5     11
27 NA    65.54839  8.0 57   5     27
96 78    83.96774  6.9 86   8      4
97 35    83.96774  7.4 85   8      5
98 66    83.96774  4.6 87   8      6

In [252]:
airquality.updated <- rbind(airquality_no_na, Solar.R.na) # adding Solar.R data that has had NA replaced back into dataset
airquality.final <- airquality.updated[complete.cases(airquality.updated$Ozone), ] # removing Ozone NA that slipped back into dataset during rbind 
colSums(is.na(airquality.final)) # checking that all NA were indeed removed 
head(airquality.final) # final cleaned dataset

  Ozone Solar.R    Wind    Temp   Month     Day
      0       0       0       0       0       0

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8